<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>This site was created by Doga Barsgan. It uses data from mapbox.com and darksky.net!</p>
    <img src="/img/headshot_jpeg.jpg">
    {{>footer}}

</body>

</html>